---

- name: "Update last operation"
  asb_last_operation:
    description: "0%: Starting"
  when: in_cluster

- name: 'Set facts'
  set_fact:
    cluster: '{{ "openshift" if "openshift" in lookup("k8s", cluster_info="version") else "kubernetes" }}'

- when: apb_action == 'update'
  block:
    - name: Backup database
      shell: kubectl exec -i -n {{ namespace }} {{ app_pod_name }} -- /bin/bash -c "mkdir -p /tmp/db && pg_dumpall -f /tmp/db/dump"

    - name: Rsync to APB
      shell: oc rsync -n {{ namespace }} {{ app_pod_name }}:/tmp/db /tmp

    - name: Take down old deployment and pvc (if it exists)
      k8s:
        state: absent
        definition: "{{ lookup('template', item) | from_yaml }}"
      loop:
        - pvc.yaml.j2
        - deployment.yaml.j2

    - name: "Update last operation"
      asb_last_operation:
        description: "25%: Backup complete"
      when: in_cluster

- name: "Set postgresql objects state={{ state }}"
  k8s:
    state: "{{ state }}"
    definition: "{{ lookup('template', item.name) | from_yaml }}"
  when: item.apply | default(True)
  loop:
    - name: service.yaml.j2
    - name: pvc.yaml.j2
      apply: "{{ (_apb_plan_id == 'prod') | bool }}"
    - name: deployment.yaml.j2

- name: "Update last operation"
  asb_last_operation:
    description: "50%: Objects updated state={{ state }}"
  when: in_cluster

- when: apb_action == 'update'
  block:
    - name: "Wait for deployment to become available"
      debug:
        msg: "Deployment available status: {{ deployment_query }}"
      retries: 25
      delay: 10
      until:
        - deployment_query

    - name: rsync db backup to new pod
      shell: oc rsync -n {{ namespace }} /tmp/db {{ app_pod_name }}:/tmp

    - name: Restore database
      shell: kubectl exec -i -n {{ namespace }} {{ app_pod_name }} -- /bin/bash -c "psql -f /tmp/db/dump"

- name: encode bind credentials
  asb_encode_binding:
    fields:
      DB_TYPE: postgres
      DB_HOST: "{{ app_name }}"
      DB_PORT: "5432"
      DB_USER: "{{ postgresql_user }}"
      DB_PASSWORD: "{{ postgresql_password }}"
      DB_NAME: "{{ postgresql_database }}"
  when: in_cluster and state == 'present'

- name: "Update last operation"
  asb_last_operation:
    description: "100%: Done"
  when: in_cluster
