---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_name }}
  namespace: "{{ namespace | string }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ postgresql_volume_size }}
